extends layout
block content
    section(class='section')
        div(class='container')
        if user
            div(class='game-container')
                nav(class='level')
                    div(class='level-left')
                        div(class='level-item has-text-centered')
                            h1(class='title') Backlog
                    if user
                        div(class='level-right')
                            button(id='add-game-button' class='button') Add
                            button(id='edit-backlog-button' class='button inverse') Edit
                if backlog
                    div(id='backlog-game-list' class='games')
                        each game in backlog
                            div(class='column-container')
                                input(class='delete-checkbox hidden' autocomplete='off' type='checkbox')
                                div(class='game-column' id=game._id)
                                    div(class='game-item')
                                        figure(class='media-left game-logo')
                                            img(class='center' src=game.headerImage)
                                        div(class='media-content')
                                            div(class='game-top')
                                                p(class='game-name')=game.name
                                                div(class='dropdown is-right' id='more-options-button')
                                                    div(class='dropdown-trigger' haspopup='true' aria-controls='dropdown-menu')
                                                        i(class='backlog-icon fas fa-ellipsis-h')
                                                        div(class="dropdown-menu" id="dropdown-menu" role="menu")
                                                            div(class="dropdown-content")
                                                                a(href="#" class="dropdown-item") Edit
                                                                a(href="#" class="dropdown-item") Move to Completed
                                                                a(href="#" class="dropdown-item") Delete
                nav(class='level')
                    div(class='level-left')
                        div(class='level-item has-text-centered')
                                    h1(class='title') Completed
            div(id='add-game-modal' class='modal')
                div(class='modal-background')
                div(class='modal-card')
                    form(action='/backlog/add-games' method='post')
                        header(class='modal-card-head')
                            p(class='modal-card-title') Add to Backlog
                        section(id='modal-search-section' class='modal-card-body')
                            input(id='game-search-input' class='input' type='text' placeholder='Search' autocomplete='off')
                            ul(id='search-results')
                        section(class='modal-card-body')
                            hr(class='modal-break')
                            div(id='search-tags' class='tags is-paddingless')
                        footer(class='modal-card-foot')
                            button(id='add-game-submit' type='submit' value='submit' class='button') Add Games
                            button(id='add-game-cancel' type='button' class='button') Cancel
                button(class='modal-close is-large' aria-label='close')
    script(src='./js/backlog.js')