#more-options-button {
    margin-right: 6px;
}

.delete-checkbox {
    margin-left: 24px;
    margin-right: 24px;
    display: none;
}

.trash {
    display: none;
}

.cancel {
    display: none;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 2px solid #bababa;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    min-width: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
}

input[type='checkbox']:hover {
    border: 2px solid #fff;
}

input[type='checkbox']:checked:before {
    font-family: FontAwesome;
    color: #fff;
    content: '\f00c';
    display: inline-block;
    font-size: 12px;
}

input[type="checkbox"]:checked:before {
    color: #fff;
}

.search-results-list {
    border: 1px solid var(--border-background);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 205px;
    overflow-y: auto;
    display: none;
}

#modal-search-section {
    min-height: 280px;
}

.search-results-list li {
    cursor: pointer;
    border-bottom: 1px solid var(--border-background);
    padding: .25em .0 .25em .5em;
    color: #6a6a6a;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-right: .5em;
    color: var(--foreground);
}

.search-results-list li:hover {
    color: #fff;
    background: #3c91e6;
}

.search-results-list li .fas,
.fa-check {
    height: inherit;
}

.item-name {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 300px;
    padding-right: 1em;
}

.added-game-tags {
    height: 100px;
    display: block;
}

.tag-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

span.tag.added-tag {
    max-width: 250px;
    background-color: #212F3B;
    color: #fff;
}

.modal-break {
    margin-top: 0;
}

svg.backlog-icon {
    font-size: 16px;
    color: var(--icon-colour);
    cursor: pointer;
}

.backlog-icon:hover {
    color: var(--icon-hover);
}

input.delete-checkbox.hidden {
    display: none;
}

.button.hidden {
    display: none;
}

.backlog-button.button {
    background-color: var(--button-background);
    border: 0;
    min-width: 32px;
    height: 32px;
    width: 32px;
}

.backlog-button.button:hover {
    /* background-color: rgba(21, 25, 35, .6); */
    background-color: var(--button-hover);
}

.function-icon {
    color: #fff;
}