@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
:root {
    --background: #212F3B;
    --foreground: #FFFFFF;
    --nav-background: #161A24;
    --nav-item-hover: #BABABA;
    --game-background: #161A24;
    --border-background: rgba(0, 0, 0, 0.3);
}

html,
body {
    font-family: 'Open Sans', sans-serif;
}

html {
    /* background: radial-gradient(ellipse farthest-corner at 50% 0%, #3c4047 0%, #3c4047 50%, #33363d 100%); */
    background: var(--background);
    background-attachment: fixed;
}

body,
a {
    color: var(--foreground);
}

.title {
    color: var(--foreground);
}

.subtitle {
    color: var(--foreground);
}

button::-moz-focus-inner {
    border: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Navbar */

.nav {
    background: var(--nav-background);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    height: 60px;
}

.navbar-item,
.navbar-link {
    color: #fff;
    padding: 8px 16px;
    outline: 0;
}

.navbar-burger span {
    background-color: var(--foreground);
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    background-color: transparent;
    color: #BABABA;
}

.navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
}

.navbar-dropdown a.navbar-item:focus,
.navbar-dropdown a.navbar-item:hover {
    background-color: transparent;
    color: #BABABA;
}

.navbar-dropdown {
    background-color: var(--nav-background);
    border-top: 2px solid rgba( 0, 0, 0, 0.1);
}

.navbar-item.has-dropdown:hover .navbar-link {
    background-color: transparent;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #3c91e6;
}

.navbar-divider {
    background-color: rgba( 0, 0, 0, 0.1);
}

.media-content {
    width: 0;
    overflow-x: inherit;
}

img.avatar {
    width: 32px;
    margin-right: 8px;
    max-height: 32px;
}

.user-nav {
    display: flex;
    align-items: center;
}


/* Game items */

.games {
    width: 100%;
    padding-bottom: 32px;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.game-logo {
    max-width: 35%;
    width: 184px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
}

.game-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-logo img {
    width: 100%;
}

.compact {
    width: 60px;
}

.column-container {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    width: 100%;
}

.game-column {
    width: 100%;
}

.game-item {
    min-height: 69px;
    border-radius: 4px;
    height: auto;
    padding: 8px;
    background: var(--game-background);
    /* box-shadow: 0px 0px 30px rgba(0,0,0,0.2); */
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    overflow: visible;
}

p.game-name {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 2px;
}

.game-info {
    padding: 8px;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

div.level-item {
    justify-content: flex-start;
}

.button.button {
    min-width: 80px;
    margin: 0 4px 0 4px;
}

.button.is-success {
    background-color: #1DB954;
}

a.dropdown-item {
    display: flex;
    align-items: center;
}

svg.dropdown-icon {
    margin-right: 12px;
}

div.dropdown-menu {
    top: 70%;
}


/* Toast */

div.toast-container {
    float: right;
}

div.toast {
    display: flex;
    background-color: #1DB954;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    right: 32px;
    bottom: 32px;
    padding: 12px 16px;
}

span.icon.toast-icon {
    margin-right: 12px;
}

div.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

p.modal-card-title {
    color: var(--foreground);
}

.modal-card-head,
.modal-card-foot {
    background-color: var(--game-background);
}

.modal-card-head {
    border-bottom: 1px solid var(--border-background);
}

.modal-card-foot {
    border-top: 1px solid var(--border-background);
}

.modal-card-body {
    background-color: var(--game-background);
}

hr.modal-break {
    background-color: var(--border-background);
}


/** Toast animations */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 32px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 32px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 32px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 24px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}


/* Mobile */

@media screen and (max-width: 767px) {
    /* Navbar */
    #nav-menu {
        background: var(--nav-background);
        box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.2);
    }
    .navbar-menu {
        width: 60%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        transform: translateX(-100%);
        transition: all .2s ease-in-out;
        pointer-events: none;
        padding: 0;
    }
    .navbar-menu.is-active {
        transform: none;
        pointer-events: auto;
    }
    .nav-text {
        font-size: 1.3rem;
        margin-left: 8px;
    }
    .navbar-dropdown {
        padding-top: 0;
    }
    .navbar-item.has-dropdown .navbar-dropdown {
        display: none;
    }
    .navbar-item.has-dropdown.is-active .navbar-dropdown {
        display: block;
    }
    .navbar-dropdown>a.navbar-item {
        padding-left: 32px;
    }
    .navbar-menu.is-active,
    .ordered-mobile {
        display: flex;
        flex-flow: column;
    }
    .ordered-mobile .navbar-end {
        order: 1;
    }
    .ordered-mobile .navbar-start {
        order: 2;
    }
    img.avatar {
        width: 48px;
        max-height: 48px;
        margin-right: 8px;
    }
    .username {
        font-size: 1.5rem;
    }
    ul li.search-results-item {
        font-size: 12px;
        padding: 8px;
    }
    p.item-name {
        max-width: 200px;
    }
    .navbar-link.user-nav {
        padding-top: 8px;
    }
    .delete-checkbox {
        margin-left: 8px;
        margin-right: 8px;
    }
    /* Game items */
    p.game-name {
        font-size: 14px;
    }
}