@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
html,
body {
    font-family: 'Open Sans', sans-serif;
}

html {
    /* background: radial-gradient(ellipse farthest-corner at 50% 0%, #3c4047 0%, #3c4047 50%, #33363d 100%); */
    background: #212F3B;
    background-attachment: fixed;
}

body,
a {
    color: #fff;
}

h1.title,
h2.title,
h3.title {
    color: #fff;
}

h1.subtitle {
    color: #fff;
}

button::-moz-focus-inner {
    border: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Navbar */

.nav {
    background: #161A24;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    height: 58px;
}

.navbar-item,
.navbar-link {
    color: #fff;
    padding: 16px 24px;
    outline: 0;
}

.icon {
    margin-right: 24px;
}

.nav-icon {
    display: none;
}

.navbar-burger span {
    background-color: white;
}

.navbar-burger:hover {
    background-color: transparent;
}

.navbar-menu {
    padding-bottom: 0;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    background-color: transparent;
    color: #BABABA;
}

.navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
}

.navbar-dropdown a.navbar-item:focus,
.navbar-dropdown a.navbar-item:hover {
    background-color: transparent;
    color: #BABABA;
}

.navbar-dropdown {
    background-color: #161a24;
    border-top: 2px solid rgba( 0, 0, 0, 0.1);
}

.navbar-item.has-dropdown:hover .navbar-link {
    background-color: transparent;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #3c91e6;
}

.navbar-divider {
    background-color: rgba( 0, 0, 0, 0.1);
}

.nav-item-text {
    display: flex;
    align-items: center;
}

.media-content {
    width: 0;
}

img.avatar {
    width: 32px;
    margin-right: 24px;
    max-height: 32px;
}

.user-nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    #nav-menu {
        background: #161A24;
        box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.2);
    }
    .navbar-menu {
        width: 60%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        transform: translateX(-100%);
        transition: all .2s ease-in-out;
        pointer-events: none;
        padding: 0;
    }
    .navbar-menu.is-active {
        transform: none;
        pointer-events: auto;
    }
    .navbar-dropdown {
        padding-top: 0;
    }
    .navbar-item.has-dropdown .navbar-dropdown {
        display: none;
    }
    .navbar-item.has-dropdown.is-active .navbar-dropdown {
        display: block;
    }
    .navbar-dropdown>a.navbar-item {
        padding-left: 64px;
    }
    .navbar-menu.is-active,
    .ordered-mobile {
        display: flex;
        flex-flow: column;
    }
    .ordered-mobile .navbar-end {
        order: 1;
    }
    .ordered-mobile .navbar-start {
        order: 2;
    }
    .nav-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 32px;
    }
    ul li.search-results-item {
        font-size: 12px;
        padding: 8px;
    }
    p.item-name {
        max-width: 200px;
    }
    .navbar-link.user-nav {
        padding-top: .75em;
    }
    .delete-checkbox {
        margin-left: 8px;
        margin-right: 8px;
    }
}


/* Game item styling */

.games {
    width: 100%;
    padding-bottom: 32px;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.game-logo {
    max-width: 35%;
    width: 184px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
}

.game-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-logo img {
    width: 100%;
}

.compact {
    width: 60px;
}

.column-container {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    width: 100%;
}

.game-column {
    width: 100%;
}

.game-item {
    min-height: 69px;
    border-radius: 8px;
    height: auto;
    padding: 12px;
    background: #161A24;
    /* box-shadow: 0px 0px 30px rgba(0,0,0,0.2); */
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    overflow: visible;
}

p.game-name {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 2px;
}

.info {
    /* border-radius: 6px; */
    /* Still undecided if I prefer rounded borders or not */
    width: 100%;
}

.game-info {
    padding: 8px;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.select select,
.sort-dropdown {
    color: white;
    background-color: rgba(40, 40, 40, .35);
    border: 0px solid transparent;
}

.select select option,
.sort-dropdown option {
    color: black;
    background: white;
}

.input::placeholder {
    color: #636363;
}

.select select,
.sort-dropdown {
    background: rgba( 87, 84, 84, .2);
}

div.level-item {
    justify-content: flex-start;
}

.button.button {
    min-width: 80px;
    margin: 0 4px 0 4px;
}

.button.is-success {
    background-color: #1DB954;
}

a.dropdown-item {
    display: flex;
    align-items: center;
}

svg.dropdown-icon {
    margin-right: 12px;
}

div.toast-container {
    float: right;
}

div.toast {
    display: flex;
    background-color: #1DB954;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    right: 32px;
    bottom: 32px;
    padding: 12px 16px;
}

span.icon.toast-icon {
    margin-right: 12px;
}

div.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/** Toast animations */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 32px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 32px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 32px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 24px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}