@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html, body {
    font-family: 'Open Sans', sans-serif;
}

html {
    background: radial-gradient(ellipse farthest-corner at 50% 0%, #3c4047 0%, #3c4047 50%, #33363d 100%);
    background-attachment: fixed;
}

body {
    color: #fff;
}

.title {
    color: #fff !important;
}

.subtitle{
    color: #fff;
}

.section {
    padding: 3rem .5rem !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
.nav {
    background: #2c2f34;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}

.navbar-item, .navbar-link {
    color: #fff;
}

.icon {
    margin-right: 1rem;
}

.nav-icon {
    display: none;
}

.navbar-burger span {
    background-color: white;
}

.navbar-burger:hover {
    background-color: transparent;
}

#nav-menu, .navbar-menu {
    background: transparent;
    padding-bottom: 0;
}

.navbar-item:hover, .navbar-link:hover {
    background-color: rgba( 0, 0, 0, 0.1 ) !important;
    color: #fff !important;
}

a.navbar-item:focus {
    background-color: rgba( 0, 0, 0, 0.1 ) !important;
    color: #fff !important;
}

.navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgba( 0, 0, 0, 0.1 ) !important;
}

.navbar-dropdown {
    background-color: #25272b;
    border-top: 2px solid rgba( 0, 0, 0, 0.1 );
}

.navbar-item.has-dropdown:hover .navbar-link {
    background-color: rgba( 0, 0, 0, 0.1 );
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #3c91e6;
}

.navbar-divider {
    background-color: rgba( 0, 0, 0, 0.1 );
}

.nav-item-text {
    display: flex;
    align-items: center;
}

.media-content {
    overflow: hidden;
    width: 0;
}

.avatar {
    width: 32px;
    max-height: 32px !important;
}

.username {
    padding-left: .5rem;
}

.user-nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    #nav-menu {
        background: #2c2f34;
        box-shadow: 3px 0px 15px rgba(0,0,0,0.2);
    }

    .navbar-menu {
        width: 60%;
        height: 100%;
    
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    
        transform: translateX(-100%);
        transition: all .2s ease-in-out;
        pointer-events: none;
        padding: 0;
    }
    
    .navbar-menu.is-active {
        transform: none;
        pointer-events: auto;
    }

    .navbar-dropdown {
        background: #25272b;
        padding-top: 0;
    }

    .navbar-item.has-dropdown .navbar-dropdown {
        display: none;
      }
      .navbar-item.has-dropdown.is-active .navbar-dropdown {
        display: block;
      }

    .ordered-mobile {
        display: flex !important;
        flex-flow: column;
    }

    .ordered-mobile .navbar-end {
        order: 1;
    }

    .ordered-mobile .navbar-start {
        order: 2;
    }

    .nav-icon {
        display: inline-flex;
    }

    #search-results li {
        font-size: 11px !important;
        padding: 1em 1em 1em .5em !important;
    }

    .item-name {
        max-width: 200px !important;
    }

    .navbar-link.user-nav {
        padding-top: .75em;
    }

    .delete-checkbox {
        margin-left: 8px;
        margin-right: 8px;
    }
}

/* Game item styling */

.games {
    width: 100%;
    padding-bottom: 1.5rem;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.game-title {
    font-size: 13px;
}

.game-logo {
    max-width: 35%;
    width: 184px;
    margin-right: 6px;
    justify-content: center;
    align-items: center;
}

.game-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-logo img {
    width: 100%;
}

.compact {
    width: 60px;
}

.column-container {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    width: 100%;
}

.column {
    padding: 0 !important;
}

.hidden {
    display: none !important;
}

.game-item {
    min-height: 69px;
    border-radius: 8px;
    height: auto;
    padding: 10px;
    background: #141618;
    /* box-shadow: 0px 0px 30px rgba(0,0,0,0.2); */
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    display: flex;
}

.game-name {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 0 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.info {
    /* border-radius: 6px; */ /* Still undecided if I prefer rounded borders or not */
    width: 100%;
}

.game-info {
    padding: 8px;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.select select, .sort-dropdown {
    color: white;
    background-color: rgba(40, 40, 40, .35);
    border: 0px solid transparent;
}

.select select option, .sort-dropdown option {
    color: black;
    background: white;
}

.select select, .sort-dropdown {
    background: rgba( 87, 84, 84, .2);
}

.level-item {
    justify-content: flex-start !important;
}